@{
    ViewData["Title"] = "Home Page";
}

<form method="post" action="@Url.Action("Buy", "HomeController")">
    <label for="name">Book name:</label><br>
    <input type="text" id="name" name="name" value=""><br>
    <label for="imePisca">Writter Name:</label><br>
    <input type="text" id="imePisca" name="imePisca" value=""><br><br>
    <label for="cena">Price:</label><br>
    <input type="number" id="cena" name="cena" value=""><br><br>
    <label for="godinaProizvodnje">Year:</label><br>
    <input type="number" id="godinaProizvodnje" name="godinaProizvodnje" value=""><br><br>
    <input type="submit" value="Submit">
</form>